body{
    background-image: url(images/bg-img.jpg);
    background-size: 100%;
    font-family:consolas;
}
.heading,.form-label{
    color:white;
    font-size:25px;
}
.heading{
    margin:2%;
    border:2px dashed white;
    display:inline-block;
}